<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361204410906-us6kiqkbhov20uk2aejk52ntavptpqia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361204410906-us6kiqkbhov20uk2aejk52ntavptpqia</string>
	<key>API_KEY</key>
	<string>AIzaSyAq-yuZLx59CDn9ruhRVpJPjQXFlLdl0uE</string>
	<key>GCM_SENDER_ID</key>
	<string>361204410906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.digitaltashkent.xalqNazorati</string>
	<key>PROJECT_ID</key>
	<string>xalq-nazorati-1a2bb</string>
	<key>STORAGE_BUCKET</key>
	<string>xalq-nazorati-1a2bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361204410906:ios:b5be14a625b9059d21ffa3</string>
	<key>DATABASE_URL</key>
	<string>https://xalq-nazorati-1a2bb.firebaseio.com</string>
</dict>
</plist>